.container{
  width:70%;
  margin:0 auto;
}
.repository_search_title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin: 20px 0;
  color: #333;
}

.back_button {
  height: 25px;
  width: 25px;
  cursor: pointer;
  margin-top: 50px;
  margin-right: 10px;
}

.repository_search_results {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.repository_list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.repository_search_results .loading,
.repository_search_results .error {
  text-align: center;
  font-size: 1.5rem;
  color: #ff3333;
}

@media (max-width: 768px) {
  .repository_search_title {
    font-size: 1.5rem;
  }

  .repository_list {
    flex-direction: row;
    align-items:flex-start;
  }
}
